<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547064489320-o2qe7nqdkphehobfh5qf7p4qrso15pj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547064489320-o2qe7nqdkphehobfh5qf7p4qrso15pj7</string>
	<key>API_KEY</key>
	<string>AIzaSyC9wKgV6N-AievHwf3agUfXvPMDd6f41Ds</string>
	<key>GCM_SENDER_ID</key>
	<string>547064489320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodOrderApp</string>
	<key>PROJECT_ID</key>
	<string>foodorderapp-246df</string>
	<key>STORAGE_BUCKET</key>
	<string>foodorderapp-246df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547064489320:ios:92eb19fe0a781e3732a2dd</string>
</dict>
</plist>